# Subsetting and Descriptive Stats

## Before your start:
   - Remember that you just need to do one of the challenges.
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - All datasets are provided in IronHack's database.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly: enjoy the process!
   
#### Import all the necessary libraries here:

In [1]:
# import libraries here
import pandas as pd
import numpy as np

# [ONLY ONE MANDATORY] Challenge 1
#### In this challenge we will use the `Temp_States`  dataset. 

#### First import it into a dataframe called `temp`.

In [2]:
# your code here
temp = pd.read_csv("Temp_States.csv")

#### Print `temp`.

In [4]:
# your code here
temp

         City        State  Temperature
0         NYC     New York    19.444444
1      Albany     New York     9.444444
2     Buffalo     New York     3.333333
3    Hartford  Connecticut    17.222222
4  Bridgeport  Connecticut    14.444444
5      Treton   New Jersey    22.222222
6      Newark   New Jersey    20.000000

#### Explore the data types of the *temp* dataframe. What types of data do we have? Comment your result.

In [5]:
# your code here
data_types = temp.dtypes
print(data_types)

City            object
State           object
Temperature    float64
dtype: object

"""
your comments here
"""
"City" and "State" contain text data and probably have the data type object.
"Temperature" contains numeric data with decimals and probably has the data type float64.

#### Select the rows where state is New York.

In [6]:
# your code here

new_york_rows = temp[temp['State'] == 'New York']
print(new_york_rows)

      City     State  Temperature
0      NYC  New York    19.444444
1   Albany  New York     9.444444
2  Buffalo  New York     3.333333

#### What is the average temperature of cities in New York?

In [7]:
# your code here

average_temperature_new_york = new_york_rows['Temperature'].mean()

print("Average Temperature in New York:", average_temperature_new_york)

Average Temperature in New York: 10.74074074074074

#### Which states and cities have a temperature above 15 degrees Celsius?

In [8]:
# your code here

above_15_degrees = temp[temp['Temperature'] > 15]

print(above_15_degrees[['State', 'City']])

         State      City
0     New York       NYC
3  Connecticut  Hartford
5   New Jersey    Treton
6   New Jersey    Newark

#### Now, return only the cities that have a temperature above 15 degrees Celsius.

In [9]:
# your code here

above_15_degrees_cities = above_15_degrees['City']

print(above_15_degrees_cities)

0         NYC
3    Hartford
5      Treton
6      Newark
Name: City, dtype: object

#### Which cities have a temperature above 15 degrees Celcius and below 20 degrees Celsius?

**Hint**: First, write the condition. Then, select the rows.

In [10]:
# your code here

temperature_condition = (temp['Temperature'] > 15) & (temp['Temperature'] < 20)

selected_cities = temp[temperature_condition]['City']

print(selected_cities)

0         NYC
3    Hartford
Name: City, dtype: object

#### Find the mean and standard deviation of the temperature of each state.

In [11]:
# your code here

grouped_by_state = temp.groupby('State')

mean_temperature_by_state = grouped_by_state['Temperature'].mean()
std_deviation_temperature_by_state = grouped_by_state['Temperature'].std()

result_df = pd.DataFrame({
    'Mean Temperature': mean_temperature_by_state,
    'Standard Deviation': std_deviation_temperature_by_state})


print(result_df)

             Mean Temperature  Standard Deviation
State
Connecticut         15.833333            1.964186
New Jersey          21.111111            1.571348
New York            10.740741            8.133404

# [ONLY ONE MANDATORY]  Challenge 2

#### Load the `employees` dataset into a dataframe. Call the dataframe `employees`.

In [13]:
# your code here
employees = pd.read_csv("employee.csv")

#### Explore the data types of the `employees` dataframe. Comment your results.

In [14]:
# your code here

data_types = employees.dtypes

print(data_types)

Name          object
Department    object
Education     object
Gender        object
Title         object
Years          int64
Salary         int64
dtype: object

"""
your comments here
"""
All the data types of the employees are object and years and salary are integer

#### What's the average salary in this company?

In [15]:
# your code here

average_salary = employees['Salary'].mean()

print("Average Salary:", average_salary)

Average Salary: 48.888888888888886

#### What's the highest salary?

In [16]:
# your code here

highest_salary = employees['Salary'].max()

print("Highest Salary:", highest_salary)

Highest Salary: 70

#### What's the lowest salary?

In [17]:
# your code here 

lowest_salary = employees['Salary'].min()

print("lowest Salary:", lowest_salary)

lowest Salary: 30

#### Who are the employees with the lowest salary?

In [18]:
# your code here

index_of_lowest_salary = employees['Salary'].idxmin()


employees_with_lowest_salary = employees.loc[index_of_lowest_salary]

print("Employee(s) with the Lowest Salary:")
print(employees_with_lowest_salary)

Employee(s) with the Lowest Salary:
Name            Maria
Department         IT
Education      Master
Gender              F
Title         analyst
Years               2
Salary             30
Name: 1, dtype: object

#### Find all the information about an employee called David.

In [19]:
# your code here

david_info = employees[employees['Name'] == 'David']

print("Information about Employee(s) Named David:")
print(david_info)

Information about Employee(s) Named David:
    Name Department Education Gender    Title  Years  Salary
2  David         HR    Master      M  analyst      2      30

#### Could you return only David's salary?

In [20]:
# your code here

david_salary = david_info['Salary']

print("David's Salary:", david_salary)

David's Salary: 2    30
Name: Salary, dtype: int64

#### Print all the rows where job title is associate.

In [22]:

associate_rows = employees[employees['Title'] == 'associate']

print("Rows with Job Title 'associate':")
print(associate_rows)

Rows with Job Title 'associate':
     Name Department Education Gender      Title  Years  Salary
4  Samuel      Sales    Master      M  associate      3      55
5     Eva      Sales  Bachelor      F  associate      2      55
7   Pedro         IT       Phd      M  associate      7      60

#### Print the first 3 rows of your dataframe.
**Tip**: There are 2 ways to do it. Do it both ways.

In [23]:
# Method 1
# your code here
# Using head() method
first_3_rows_method1 = employees.head(3)

print("Method 1 - Using head():")
print(first_3_rows_method1)

Method 1 - Using head():
    Name Department Education Gender    Title  Years  Salary
0   Jose         IT  Bachelor      M  analyst      1      35
1  Maria         IT    Master      F  analyst      2      30
2  David         HR    Master      M  analyst      2      30

In [24]:
# Method 2
# your code here
# Using array slicing
first_3_rows_method2 = employees[:3]

print("\nMethod 2 - Using array slicing:")
print(first_3_rows_method2)

Method 2 - Using array slicing:
    Name Department Education Gender    Title  Years  Salary
0   Jose         IT  Bachelor      M  analyst      1      35
1  Maria         IT    Master      F  analyst      2      30
2  David         HR    Master      M  analyst      2      30

#### Find the employees whose title is associate and whose salary is above 55.

In [25]:
# your code here
# Use boolean indexing to select rows where the Title is "associate" and Salary is above 55
associate_above_55 = employees[(employees['Title'] == 'associate') & (employees['Salary'] > 55)]

print("Employees with Title 'associate' and Salary > 55:")
print(associate_above_55)

Employees with Title 'associate' and Salary > 55:
    Name Department Education Gender      Title  Years  Salary
7  Pedro         IT       Phd      M  associate      7      60

#### Group the employees by number of years of employment. What are the average salaries in each group?

In [31]:
# Listar las columnas en el DataFrame
columns = employees.columns
print("Columnas en el DataFrame:")
print(columns)

Columnas en el DataFrame:
Index(['Name', 'Department', 'Education', 'Gender', 'Title', 'Years',
       'Salary'],
      dtype='object')

In [33]:
# Group the employees by the number of years of employment (using the "Years" column)
grouped_by_years_employed = employees.groupby('Years')

average_salary_by_years_employed = grouped_by_years_employed['Salary'].mean()

print("Average Salaries by Years of Employment:")
print(average_salary_by_years_employed)

Average Salaries by Years of Employment:
Years
1    35.000000
2    38.333333
3    55.000000
4    35.000000
7    60.000000
8    70.000000
Name: Salary, dtype: float64

####  What is the average salary per title?

In [34]:
# your code here

grouped_by_title = employees.groupby('Title')

average_salary_per_title = grouped_by_title['Salary'].mean()

print("Average Salary per Title:")
print(average_salary_per_title)

Average Salary per Title:
Title
VP           70.000000
analyst      32.500000
associate    56.666667
Name: Salary, dtype: float64

####  Find the salary quartiles.

In [35]:
# your code here

salary_quartiles = employees['Salary'].quantile([0.25, 0.50, 0.75])

print("Salary Quartiles:")
print(salary_quartiles)

Salary Quartiles:
0.25    35.0
0.50    55.0
0.75    60.0
Name: Salary, dtype: float64

#### Is the mean salary different per gender?

In [36]:
# your code here

mean_salary_by_gender = employees.groupby('Gender')['Salary'].mean()

print("Mean Salary by Gender:")
print(mean_salary_by_gender)

Mean Salary by Gender:
Gender
F    47.5
M    50.0
Name: Salary, dtype: float64

#### Find the minimum, mean and maximum of all numeric columns for each company department.

In [37]:
# your code here

grouped_by_department = employees.groupby('Department')

aggregations = {
    'Salary': ['min', 'mean', 'max'],
    'Years': ['min', 'mean', 'max']}

department_stats = grouped_by_department.agg(aggregations)

In [38]:
print("Minimum, Mean, and Maximum for Numeric Columns by Department:")
print(department_stats)

Minimum, Mean, and Maximum for Numeric Columns by Department:
           Salary            Years
              min   mean max   min      mean max
Department
HR             30  45.00  70     2  4.666667   8
IT             30  48.75  70     1  4.500000   8
Sales          55  55.00  55     2  2.500000   3

#### Bonus Question:  for each department, compute the difference between the maximum and the minimum salary.
**Hint**: try using `agg` or `apply` combined with `lambda` functions.

In [39]:
# your code here

grouped_by_department = employees.groupby('Department')

salary_range = lambda x: x.max() - x.min()

department_salary_range = grouped_by_department['Salary'].agg(salary_range)

In [40]:

print("Salary Range (Max - Min) by Department:")
print(department_salary_range)

Salary Range (Max - Min) by Department:
Department
HR       40
IT       40
Sales     0
Name: Salary, dtype: int64

# [ONLY ONE MANDATORY] Challenge 3
#### Open the `Orders` dataset. Name your dataset `orders`.

In [46]:
# your code here
import pandas as pd
orders = pd.read_csv("Orders.zip")

#### Explore your dataset by looking at the data types and summary statistics. Comment your results.

In [47]:
# your code here

print("Data Types:")
print(orders.dtypes)
print("\nSummary Statistics:")
print(orders.describe())

Data Types:
Unnamed: 0        int64
InvoiceNo         int64
StockCode        object
year              int64
month             int64
day               int64
hour              int64
Description      object
Quantity          int64
InvoiceDate      object
UnitPrice       float64
CustomerID        int64
Country          object
amount_spent    float64
dtype: object

Summary Statistics:
          Unnamed: 0      InvoiceNo           year          month  \
count  397924.000000  397924.000000  397924.000000  397924.000000
mean   278465.221859  560617.126645    2010.934259       7.612537
std    152771.368303   13106.167695       0.247829       3.416527
min         0.000000  536365.000000    2010.000000       1.000000
25%    148333.750000  549234.000000    2011.000000       5.000000
50%    284907.500000  561893.000000    2011.000000       8.000000
75%    410079.250000  572090.000000    2011.000000      11.000000
max    541908.000000  581587.000000    2011.000000      12.000000

                 day           hour       Quantity      UnitPrice  \
count  397924.000000  397924.000000  397924.000000  397924.000000
mean        3.614555      12.728247      13.021823       3.116174
std         1.928274       2.273535     180.420210      22.096788
min         1.000000       6.000000       1.000000       0.000000
25%         2.000000      11.000000       2.000000       1.250000
50%         3.000000      13.000000       6.000000       1.950000
75%         5.000000      14.000000      12.000000       3.750000
max         7.000000      20.000000   80995.000000    8142.750000

          CustomerID   amount_spent
count  397924.000000  397924.000000
mean    15294.315171      22.394749
std      1713.169877     309.055588
min     12346.000000       0.000000
25%     13969.000000       4.680000
50%     15159.000000      11.800000
75%     16795.000000      19.800000
max     18287.000000  168469.600000

"""
your comments here
"""
Data Types:

Unnamed: 0: Integer (int64)
InvoiceNo: Integer (int64)
StockCode: Object (typically string, object)
year: Integer (int64)
month: Integer (int64)
day: Integer (int64)
hour: Integer (int64)
Description: Object (typically string, object)
Quantity: Integer (int64)
InvoiceDate: Object (typically string, object)
UnitPrice: Float (float64)
CustomerID: Integer (int64)
Country: Object (typically string, object)
amount_spent: Float (float64)

####  What is the average purchase price?

In [48]:
# your code here

average_purchase_price = orders['amount_spent'].mean()

print("Average Purchase Price:", average_purchase_price)

Average Purchase Price: 22.394748504739596

#### What are the highest and lowest purchase prices?

In [49]:
# your code here

highest_purchase_price = orders['amount_spent'].max()

lowest_purchase_price = orders['amount_spent'].min()

In [50]:

print("Highest Purchase Price:", highest_purchase_price)
print("Lowest Purchase Price:", lowest_purchase_price)

Highest Purchase Price: 168469.6
Lowest Purchase Price: 0.0

#### Select all the customers from Spain.
**Hint**: Remember that you are not asked to find orders from Spain but customers. A customer might have more than one order associated.

In [51]:
# your code here

spanish_customers = orders[orders['Country'] == 'Spain']

print("Customers from Spain:")
print(spanish_customers)

Customers from Spain:
        Unnamed: 0  InvoiceNo StockCode  year  month  day  hour  \
4250          6421     536944     22383  2010     12    5    12
4251          6422     536944     22384  2010     12    5    12
4252          6423     536944     20727  2010     12    5    12
4253          6424     536944     20725  2010     12    5    12
4254          6425     536944     20728  2010     12    5    12
...            ...        ...       ...   ...    ...  ...   ...
394733      535271     581193     23291  2011     12    3    17
394734      535272     581193    85232D  2011     12    3    17
394735      535273     581193     22721  2011     12    3    17
394736      535274     581193     23241  2011     12    3    17
394737      535275     581193     23247  2011     12    3    17

                          Description  Quantity          InvoiceDate  \
4250          lunch bag suki  design         70  2010-12-03 12:20:00
4251          lunch bag pink polkadot       100  2010-12-03 12:20:00
4252          lunch bag  black skull.        60  2010-12-03 12:20:00
4253          lunch bag red retrospot        70  2010-12-03 12:20:00
4254              lunch bag cars blue       100  2010-12-03 12:20:00
...                               ...       ...                  ...
394733       dolly girl childrens cup         2  2011-12-07 17:05:00
394734  set/3 decoupage stacking tins         1  2011-12-07 17:05:00
394735  set of 3 cake tins sketchbook         2  2011-12-07 17:05:00
394736   treasure tin gymkhana design         1  2011-12-07 17:05:00
394737     biscuit tin 50's christmas         1  2011-12-07 17:05:00

        UnitPrice  CustomerID Country  amount_spent
4250         1.65       12557   Spain        115.50
4251         1.45       12557   Spain        145.00
4252         1.65       12557   Spain         99.00
4253         1.65       12557   Spain        115.50
4254         1.45       12557   Spain        145.00
...           ...         ...     ...           ...
394733       1.25       17097   Spain          2.50
394734       4.95       17097   Spain          4.95
394735       1.95       17097   Spain          3.90
394736       2.08       17097   Spain          2.08
394737       2.89       17097   Spain          2.89

[2485 rows x 14 columns]

#### How many customers do we have in Spain?

In [52]:
# your code here

spanish_customers = orders[orders['Country'] == 'Spain']

num_spanish_customers = spanish_customers['CustomerID'].nunique()

print("Number of Customers in Spain:", num_spanish_customers)

Number of Customers in Spain: 30

#### Select all the customers who have bought more than 50 items.
**Hint**: Remember that you are not asked to find orders with more than 50 items but customers who bought more than 50 items. A customer with two orders of 30 items each should appear in the selection.

In [53]:
# your code here

customer_total_quantity = orders.groupby('CustomerID')['Quantity'].sum()

customers_with_more_than_50_items = customer_total_quantity[customer_total_quantity > 50]

In [54]:

print("Customers who Bought More than 50 Items:")
print(customers_with_more_than_50_items)

Customers who Bought More than 50 Items:
CustomerID
12346    74215
12347     2458
12348     2341
12349      631
12350      197
         ...
18278       66
18281       54
18282      103
18283     1397
18287     1586
Name: Quantity, Length: 4091, dtype: int64

#### Select orders from Spain that include more than 50 items.

In [55]:
# your code here

spanish_orders = orders[orders['Country'] == 'Spain']

spanish_orders_more_than_50_items = spanish_orders[spanish_orders['Quantity'] > 50]

In [56]:

print("Orders from Spain with More than 50 Items:")
print(spanish_orders_more_than_50_items)

Orders from Spain with More than 50 Items:
        Unnamed: 0  InvoiceNo StockCode  year  month  day  hour  \
4250          6421     536944     22383  2010     12    5    12
4251          6422     536944     22384  2010     12    5    12
4252          6423     536944     20727  2010     12    5    12
4253          6424     536944     20725  2010     12    5    12
4254          6425     536944     20728  2010     12    5    12
32454        52416     540785    84997B  2011      1    2    11
32455        52417     540785    84997D  2011      1    2    11
32456        52418     540785    84997C  2011      1    2    11
32457        52419     540785    84997A  2011      1    2    11
91155       136767     547972     22383  2011      3    1    16
91156       136768     547972     22384  2011      3    1    16
91159       136771     547972     20728  2011      3    1    16
174442      248797     558871     22384  2011      7    1    13
174443      248798     558871     20727  2011      7    1    13
174444      248799     558871     20725  2011      7    1    13
174445      248800     558871     20728  2011      7    1    13
174446      248801     558871    84997B  2011      7    1    13
174447      248802     558871    84997D  2011      7    1    13
174448      248803     558871    84997C  2011      7    1    13
174449      248804     558871    84997A  2011      7    1    13
197167      282906     561669     23295  2011      7    4    17
197168      282907     561669     23297  2011      7    4    17
197169      282908     561669     23294  2011      7    4    17
197170      282909     561669     23296  2011      7    4    17
197171      282910     561669     23293  2011      7    4    17
224881      315702     564734     84826  2011      8    7    13
254097      355752     567968     85204  2011      9    5     9
289129      398626     571255    82494L  2011     10    5    17
289134      398631     571255     82482  2011     10    5    17
289142      398639     571255    72802B  2011     10    5    17
289143      398640     571255    72802C  2011     10    5    17
295956      407272     571851     23167  2011     10    3    13
312655      426665     573362     22598  2011     10    7    13
312656      426666     573362     22597  2011     10    7    13
312657      426667     573362     22599  2011     10    7    13
366326      495739     578321     20728  2011     11    3    16
366327      495740     578321    84997B  2011     11    3    16
366328      495741     578321    84997D  2011     11    3    16
366329      495742     578321    84997C  2011     11    3    16

                                Description  Quantity          InvoiceDate  \
4250                lunch bag suki  design         70  2010-12-03 12:20:00
4251                lunch bag pink polkadot       100  2010-12-03 12:20:00
4252                lunch bag  black skull.        60  2010-12-03 12:20:00
4253                lunch bag red retrospot        70  2010-12-03 12:20:00
4254                    lunch bag cars blue       100  2010-12-03 12:20:00
32454     red 3 piece retrospot cutlery set       144  2011-01-11 11:39:00
32455     pink 3 piece polkadot cutlery set       360  2011-01-11 11:39:00
32456     blue 3 piece polkadot cutlery set       360  2011-01-11 11:39:00
32457    green 3 piece polkadot cutlery set       144  2011-01-11 11:39:00
91155                lunch bag suki design        150  2011-03-28 16:41:00
91156               lunch bag pink polkadot       150  2011-03-28 16:41:00
91159                   lunch bag cars blue       150  2011-03-28 16:41:00
174442              lunch bag pink polkadot       100  2011-07-04 13:19:00
174443              lunch bag  black skull.       100  2011-07-04 13:19:00
174444              lunch bag red retrospot       100  2011-07-04 13:19:00
174445                  lunch bag cars blue       100  2011-07-04 13:19:00
174446     childrens cutlery retrospot red         72  2011-07-04 13:19:00
174447      childrens cutlery polkadot pink       360  2011-07-04 13:19:00
174448      childrens cutlery polkadot blue       360  2011-07-04 13:19:00
174449    childrens cutlery polkadot green         72  2011-07-04 13:19:00
197167     set of 12 mini loaf baking cases       128  2011-07-28 17:09:00
197168  set 40 heart shape petit four cases       144  2011-07-28 17:09:00
197169     set of 6 snack loaf baking cases       128  2011-07-28 17:09:00
197170       set of 6 tea time baking cases       128  2011-07-28 17:09:00
197171    set of 12 fairy cake baking cases       128  2011-07-28 17:09:00
224881       asstd design 3d paper stickers        60  2011-08-28 13:32:00
254097         hanging wood and felt flower        96  2011-09-23 09:44:00
289129          wooden frame antique white         72  2011-10-14 17:13:00
289134    wooden picture frame white finish        72  2011-10-14 17:13:00
289142   ocean scent candle in jewelled box       200  2011-10-14 17:13:00
289143    vanilla scent candle jewelled box       288  2011-10-14 17:13:00
295956       small ceramic top storage jar         96  2011-10-19 13:02:00
312655          christmas musical zinc tree        72  2011-10-30 13:06:00
312656       musical zinc heart decoration         72  2011-10-30 13:06:00
312657          christmas musical zinc star        72  2011-10-30 13:06:00
366326                  lunch bag cars blue       200  2011-11-23 16:59:00
366327     childrens cutlery retrospot red         72  2011-11-23 16:59:00
366328      childrens cutlery polkadot pink       360  2011-11-23 16:59:00
366329      childrens cutlery polkadot blue       288  2011-11-23 16:59:00

        UnitPrice  CustomerID Country  amount_spent
4250         1.65       12557   Spain        115.50
4251         1.45       12557   Spain        145.00
4252         1.65       12557   Spain         99.00
4253         1.65       12557   Spain        115.50
4254         1.45       12557   Spain        145.00
32454        3.39       12557   Spain        488.16
32455        3.39       12557   Spain       1220.40
32456        3.39       12557   Spain       1220.40
32457        3.39       12557   Spain        488.16
91155        1.45       12557   Spain        217.50
91156        1.45       12557   Spain        217.50
91159        1.45       12557   Spain        217.50
174442       1.45       12557   Spain        145.00
174443       1.45       12557   Spain        145.00
174444       1.45       12557   Spain        145.00
174445       1.45       12557   Spain        145.00
174446       3.75       12557   Spain        270.00
174447       3.75       12557   Spain       1350.00
174448       3.75       12557   Spain       1350.00
174449       3.75       12557   Spain        270.00
197167       0.72       12507   Spain         92.16
197168       1.45       12507   Spain        208.80
197169       0.72       12507   Spain         92.16
197170       1.04       12507   Spain        133.12
197171       0.72       12507   Spain         92.16
224881       0.85       12484   Spain         51.00
254097       0.12       12546   Spain         11.52
289129       2.55       12454   Spain        183.60
289134       2.55       12454   Spain        183.60
289142       1.25       12454   Spain        250.00
289143       1.25       12454   Spain        360.00
295956       0.69       12596   Spain         66.24
312655       0.29       12597   Spain         20.88
312656       0.29       12597   Spain         20.88
312657       0.29       12597   Spain         20.88
366326       1.45       12557   Spain        290.00
366327       3.75       12557   Spain        270.00
366328       3.75       12557   Spain       1350.00
366329       3.75       12557   Spain       1080.00

#### Select all free orders.

In [57]:
# your code here

free_orders = orders[orders['UnitPrice'] == 0]

print("Free Orders:")
print(free_orders)

Free Orders:
        Unnamed: 0  InvoiceNo StockCode  year  month  day  hour  \
6914          9302     537197     22841  2010     12    7    14
22539        33576     539263     22580  2010     12    4    14
25379        40089     539722     22423  2010     12    2    13
29080        47068     540372     22090  2011      1    4    16
29082        47070     540372     22553  2011      1    4    16
34494        56674     541109     22168  2011      1    4    15
53788        86789     543599    84535B  2011      2    4    13
85671       130188     547417     22062  2011      3    3    10
92875       139453     548318     22055  2011      3    3    12
97430       145208     548871     22162  2011      4    1    14
107192      157042     550188     22636  2011      4    4    18
128641      187613     553000     47566  2011      5    4    15
137127      198383     554037     22619  2011      5    5    14
194648      279324     561284     22167  2011      7    2    12
197173      282912     561669     22960  2011      7    4    17
199711      285657     561916         M  2011      8    1    11
208950      298054     562973     23157  2011      8    4    11
223931      314745     564651     23270  2011      8    5    14
223932      314746     564651     23268  2011      8    5    14
223933      314747     564651     22955  2011      8    5    14
223934      314748     564651     21786  2011      8    5    14
256263      358655     568158      PADS  2011      9    7    12
259399      361825     568384         M  2011      9    2     9
273926      379913     569716     22778  2011     10    4     8
286507      395529     571035         M  2011     10    4    12
307092      420404     572893     21208  2011     10    3    14
319882      436428     574138     23234  2011     11    4    11
320049      436597     574175     22065  2011     11    4    11
320407      436961     574252         M  2011     11    4    13
322279      439361     574469     22385  2011     11    5    11
328385      446125     574879     22625  2011     11    1    13
329006      446793     574920     22899  2011     11    1    16
329007      446794     574920     23480  2011     11    1    16
334242      454463     575579     22437  2011     11    4    11
334243      454464     575579     22089  2011     11    4    11
352746      479079     577129     22464  2011     11    4    19
353097      479546     577168         M  2011     11    5    10
354170      480649     577314     23407  2011     11    5    13
358629      485985     577696         M  2011     11    1    11
370473      502122     578841     84826  2011     11    5    15

                                Description  Quantity          InvoiceDate  \
6914           round cake tin vintage green         1  2010-12-05 14:02:00
22539          advent calendar gingham sack         4  2010-12-16 14:36:00
25379              regency cakestand 3 tier        10  2010-12-21 13:45:00
29080               paper bunting retrospot        24  2011-01-06 16:41:00
29082                plasters in tin skulls        24  2011-01-06 16:41:00
34494         organiser wood antique white          1  2011-01-13 15:10:00
53788          fairy cakes notebook a6 size        16  2011-02-10 13:08:00
85671   ceramic bowl with love heart design        36  2011-03-23 10:25:00
92875    mini cake stand  hanging strawbery         5  2011-03-30 12:45:00
97430           heart garland rustic padded         2  2011-04-04 14:42:00
107192   childs breakfast set circus parade         1  2011-04-14 18:57:00
128641                        party bunting         4  2011-05-12 15:21:00
137127            set of 6 soldier skittles        80  2011-05-20 14:13:00
194648           oval wall mirror diamante          1  2011-07-26 12:24:00
197173             jam making set with jars        11  2011-07-28 17:09:00
199711                               manual         1  2011-08-01 11:44:00
208950           set of 6 nativity magnets        240  2011-08-11 11:42:00
223931     set of 2 ceramic painted hearts         96  2011-08-26 14:19:00
223932  set of 2 ceramic christmas reindeer       192  2011-08-26 14:19:00
223933             36 foil star cake cases        144  2011-08-26 14:19:00
223934                   polkadot rain hat        144  2011-08-26 14:19:00
256263           pads to match all cushions         1  2011-09-25 12:22:00
259399                               manual         1  2011-09-27 09:46:00
273926                   glass cloche small         2  2011-10-06 08:17:00
286507                               manual         1  2011-10-13 12:50:00
307092          pastel colour honeycomb fan         5  2011-10-26 14:36:00
319882        biscuit tin vintage christmas       216  2011-11-03 11:26:00
320049       christmas pudding trinket pot         12  2011-11-03 11:47:00
320407                               manual         1  2011-11-03 13:24:00
322279            jumbo bag spaceboy design        12  2011-11-04 11:55:00
328385                   red kitchen scales         2  2011-11-07 13:22:00
329006         children's apron dolly girl          1  2011-11-07 16:34:00
329007       mini lights woodland mushrooms         1  2011-11-07 16:34:00
334242        set of 9 black skull balloons        20  2011-11-10 11:49:00
334243        paper bunting vintage paisley        24  2011-11-10 11:49:00
352746          hanging metal heart lantern         4  2011-11-17 19:52:00
353097                               manual         1  2011-11-18 10:42:00
354170       set of 2 trays home sweet home         2  2011-11-18 13:23:00
358629                               manual         1  2011-11-21 11:57:00
370473       asstd design 3d paper stickers     12540  2011-11-25 15:57:00

        UnitPrice  CustomerID         Country  amount_spent
6914          0.0       12647         Germany           0.0
22539         0.0       16560  United Kingdom           0.0
25379         0.0       14911            EIRE           0.0
29080         0.0       13081  United Kingdom           0.0
29082         0.0       13081  United Kingdom           0.0
34494         0.0       15107  United Kingdom           0.0
53788         0.0       17560  United Kingdom           0.0
85671         0.0       13239  United Kingdom           0.0
92875         0.0       13113  United Kingdom           0.0
97430         0.0       14410  United Kingdom           0.0
107192        0.0       12457     Switzerland           0.0
128641        0.0       17667  United Kingdom           0.0
137127        0.0       12415       Australia           0.0
194648        0.0       16818  United Kingdom           0.0
197173        0.0       12507           Spain           0.0
199711        0.0       15581  United Kingdom           0.0
208950        0.0       14911            EIRE           0.0
223931        0.0       14646     Netherlands           0.0
223932        0.0       14646     Netherlands           0.0
223933        0.0       14646     Netherlands           0.0
223934        0.0       14646     Netherlands           0.0
256263        0.0       16133  United Kingdom           0.0
259399        0.0       12748  United Kingdom           0.0
273926        0.0       15804  United Kingdom           0.0
286507        0.0       12446             RSA           0.0
307092        0.0       18059  United Kingdom           0.0
319882        0.0       12415       Australia           0.0
320049        0.0       14110  United Kingdom           0.0
320407        0.0       12437          France           0.0
322279        0.0       12431       Australia           0.0
328385        0.0       13014  United Kingdom           0.0
329006        0.0       13985  United Kingdom           0.0
329007        0.0       13985  United Kingdom           0.0
334242        0.0       13081  United Kingdom           0.0
334243        0.0       13081  United Kingdom           0.0
352746        0.0       15602  United Kingdom           0.0
353097        0.0       12603         Germany           0.0
354170        0.0       12444          Norway           0.0
358629        0.0       16406  United Kingdom           0.0
370473        0.0       13256  United Kingdom           0.0

#### Select all orders whose description starts with `lunch bag`.
**Hint**: use string functions.

In [59]:
lunch_bag_orders = orders[orders['Description'].str.lower().str.startswith('lunch bag', na=False)]

print("Orders with Description Starting with 'lunch bag':")
print(lunch_bag_orders)

Orders with Description Starting with 'lunch bag':
        Unnamed: 0  InvoiceNo StockCode  year  month  day  hour  \
93              93     536378     20725  2010     12    3     9
172            174     536385     22662  2010     12    3     9
354            363     536401     22662  2010     12    3    11
359            368     536401     20725  2010     12    3    11
360            369     536401     22382  2010     12    3    11
...            ...        ...       ...   ...    ...  ...   ...
397465      540436     581486     23207  2011     12    5     9
397713      541695     581538     20727  2011     12    5    11
397714      541696     581538     20725  2011     12    5    11
397877      541862     581581     23681  2011     12    5    12
397880      541865     581583     20725  2011     12    5    12

                        Description  Quantity          InvoiceDate  UnitPrice  \
93          lunch bag red retrospot        10  2010-12-01 09:37:00       1.65
172     lunch bag dolly girl design        10  2010-12-01 09:56:00       1.65
354     lunch bag dolly girl design         1  2010-12-01 11:21:00       1.65
359         lunch bag red retrospot         1  2010-12-01 11:21:00       1.65
360      lunch bag spaceboy design          2  2010-12-01 11:21:00       1.65
...                             ...       ...                  ...        ...
397465    lunch bag alphabet design        10  2011-12-09 09:38:00       1.65
397713      lunch bag  black skull.         1  2011-12-09 11:34:00       1.65
397714      lunch bag red retrospot         1  2011-12-09 11:34:00       1.65
397877  lunch bag red vintage doily        10  2011-12-09 12:20:00       1.65
397880      lunch bag red retrospot        40  2011-12-09 12:23:00       1.45

        CustomerID         Country  amount_spent
93           14688  United Kingdom         16.50
172          17420  United Kingdom         16.50
354          15862  United Kingdom          1.65
359          15862  United Kingdom          1.65
360          15862  United Kingdom          3.30
...            ...             ...           ...
397465       17001  United Kingdom         16.50
397713       14446  United Kingdom          1.65
397714       14446  United Kingdom          1.65
397877       17581  United Kingdom         16.50
397880       13777  United Kingdom         58.00

[11556 rows x 14 columns]

#### Select all `lunch bag` orders made in 2011.

In [60]:
# your code here

lunch_bag_orders_2011 = orders[(orders['Description'].str.lower().str.startswith('lunch bag', na=False)) & (orders['year'] == 2011)]

print("Lunch Bag Orders Made in 2011:")
print(lunch_bag_orders_2011)

Lunch Bag Orders Made in 2011:
        Unnamed: 0  InvoiceNo StockCode  year  month  day  hour  \
26340        42678     540015     20725  2011      1    2    11
26341        42679     540015     20726  2011      1    2    11
26512        42851     540023     22382  2011      1    2    12
26513        42852     540023     20726  2011      1    2    12
26860        43616     540098     22384  2011      1    2    15
...            ...        ...       ...   ...    ...  ...   ...
397465      540436     581486     23207  2011     12    5     9
397713      541695     581538     20727  2011     12    5    11
397714      541696     581538     20725  2011     12    5    11
397877      541862     581581     23681  2011     12    5    12
397880      541865     581583     20725  2011     12    5    12

                        Description  Quantity          InvoiceDate  UnitPrice  \
26340       lunch bag red retrospot        10  2011-01-04 11:40:00       1.65
26341            lunch bag woodland        10  2011-01-04 11:40:00       1.65
26512    lunch bag spaceboy design          2  2011-01-04 12:58:00       1.65
26513            lunch bag woodland         1  2011-01-04 12:58:00       1.65
26860       lunch bag pink polkadot         1  2011-01-04 15:50:00       1.65
...                             ...       ...                  ...        ...
397465    lunch bag alphabet design        10  2011-12-09 09:38:00       1.65
397713      lunch bag  black skull.         1  2011-12-09 11:34:00       1.65
397714      lunch bag red retrospot         1  2011-12-09 11:34:00       1.65
397877  lunch bag red vintage doily        10  2011-12-09 12:20:00       1.65
397880      lunch bag red retrospot        40  2011-12-09 12:23:00       1.45

        CustomerID         Country  amount_spent
26340        13319  United Kingdom         16.50
26341        13319  United Kingdom         16.50
26512        15039  United Kingdom          3.30
26513        15039  United Kingdom          1.65
26860        16241  United Kingdom          1.65
...            ...             ...           ...
397465       17001  United Kingdom         16.50
397713       14446  United Kingdom          1.65
397714       14446  United Kingdom          1.65
397877       17581  United Kingdom         16.50
397880       13777  United Kingdom         58.00

[11234 rows x 14 columns]

#### Show the frequency distribution of the amount spent in Spain.

In [61]:
# your code here

spanish_orders = orders[orders['Country'] == 'Spain']

amount_spent_distribution = spanish_orders['amount_spent'].value_counts()

print("Frequency Distribution of Amount Spent in Spain:")
print(amount_spent_distribution)

Frequency Distribution of Amount Spent in Spain:
15.00     186
17.70     122
19.80      99
17.40      86
10.20      76
         ...
3.36        1
8.67        1
5.85        1
27.00       1
109.50      1
Name: amount_spent, Length: 316, dtype: int64

#### Select all orders made in the month of August.

In [62]:
# your code here

august_orders = orders[orders['month'] == 8]

print("Orders Made in August:")
print(august_orders)

Orders Made in August:
        Unnamed: 0  InvoiceNo StockCode  year  month  day  hour  \
199475      285421     561904     22075  2011      8    1     8
199476      285422     561904    85049E  2011      8    1     8
199477      285423     561905     21385  2011      8    1     9
199478      285424     561905    84970L  2011      8    1     9
199479      285425     561905    84970S  2011      8    1     9
...            ...        ...       ...   ...    ...  ...   ...
226483      320688     565067     22644  2011      8    3    17
226484      320689     565067     22645  2011      8    3    17
226485      320690     565067     22637  2011      8    3    17
226486      320691     565067     22646  2011      8    3    17
226487      320692     565067     22741  2011      8    3    17

                                Description  Quantity          InvoiceDate  \
199475         6 ribbons elegant christmas         96  2011-08-01 08:30:00
199476            scandinavian reds ribbons       156  2011-08-01 08:30:00
199477      ivory hanging decoration  heart        24  2011-08-01 09:31:00
199478     single heart zinc t-light holder        12  2011-08-01 09:31:00
199479    hanging heart zinc t-light holder        12  2011-08-01 09:31:00
...                                     ...       ...                  ...
226483       ceramic cherry cake money bank         2  2011-08-31 17:16:00
226484  ceramic heart fairy cake money bank         2  2011-08-31 17:16:00
226485                piggy bank retrospot          2  2011-08-31 17:16:00
226486   ceramic strawberry cake money bank         2  2011-08-31 17:16:00
226487                       funky diva pen        48  2011-08-31 17:16:00

        UnitPrice  CustomerID         Country  amount_spent
199475       1.45       17941  United Kingdom        139.20
199476       1.06       17941  United Kingdom        165.36
199477       0.85       14947  United Kingdom         20.40
199478       0.95       14947  United Kingdom         11.40
199479       0.85       14947  United Kingdom         10.20
...           ...         ...             ...           ...
226483       1.45       15856  United Kingdom          2.90
226484       1.45       15856  United Kingdom          2.90
226485       2.55       15856  United Kingdom          5.10
226486       1.45       15856  United Kingdom          2.90
226487       0.85       15856  United Kingdom         40.80

[27013 rows x 14 columns]

#### Find the number of orders made by each country in the month of August.
**Hint**: Use value_counts().

In [63]:
# your code here

august_orders = orders[orders['month'] == 8]

order_counts_by_country = august_orders['Country'].value_counts()

print("Number of Orders by Country in August:")
print(order_counts_by_country)

Number of Orders by Country in August:
United Kingdom     23105
Germany              795
EIRE                 593
France               569
Netherlands          280
Switzerland          267
Spain                252
Belgium              194
Israel               171
Channel Islands      140
Australia            107
Italy                 95
Austria               88
Norway                77
Finland               61
Malta                 55
Portugal              41
Sweden                40
Unspecified           23
Iceland               22
Poland                17
Denmark               16
Canada                 5
Name: Country, dtype: int64

#### What's the  average amount of money spent by country?

In [64]:
# your code here

average_amount_spent_by_country = orders.groupby('Country')['amount_spent'].mean()

print("Average Amount Spent by Country:")
print(average_amount_spent_by_country)

Average Amount Spent by Country:
Country
Australia               116.895620
Austria                  25.624824
Bahrain                  32.258824
Belgium                  20.283772
Brazil                   35.737500
Canada                   24.280662
Channel Islands          27.340160
Cyprus                   22.134169
Czech Republic           33.069600
Denmark                  49.882474
EIRE                     36.687745
European Community       21.670833
Finland                  32.913985
France                   25.056827
Germany                  25.311562
Greece                   32.831172
Iceland                  23.681319
Israel                   29.119718
Italy                    23.064960
Japan                   116.561900
Lebanon                  37.641778
Lithuania                47.458857
Malta                    24.335625
Netherlands             120.798282
Norway                   33.736418
Poland                   22.226212
Portugal                 22.872702
RSA                      17.281207
Saudi Arabia             16.213333
Singapore                95.852658
Spain                    24.779521
Sweden                   85.096075
Switzerland              30.642752
USA                      20.002179
United Arab Emirates     27.974706
United Kingdom           20.625073
Unspecified              10.930615
Name: amount_spent, dtype: float64

#### What's the most expensive item?

In [65]:
# your code here

most_expensive_item = orders[orders['UnitPrice'] == orders['UnitPrice'].max()]

print("Most Expensive Item:")
print(most_expensive_item)

Most Expensive Item:
        Unnamed: 0  InvoiceNo StockCode  year  month  day  hour Description  \
118352      173382     551697      POST  2011      5    2    13     postage

        Quantity          InvoiceDate  UnitPrice  CustomerID         Country  \
118352         1  2011-05-03 13:46:00    8142.75       16029  United Kingdom

        amount_spent
118352       8142.75

#### What is the average amount spent per year?

In [66]:
# your code here

average_amount_spent_per_year = orders.groupby('year')['amount_spent'].mean()

print("Average Amount Spent Per Year:")
print(average_amount_spent_per_year)

Average Amount Spent Per Year:
year
2010    21.892733
2011    22.430074
Name: amount_spent, dtype: float64